table#nyu td{
    padding: 20px;
}

table#bu td{
    padding: 20px;
}

table#name td{
    padding: 20px;
}

.img-circle {
    border-radius: 50%;
}

div#nyublock:hover {
    background-color: #f9f9f9;
}
div#bublock:hover {
    background-color: #f9f9f9;
}