
table#jet {
	padding-left: 100px;
    padding-right: 100px;
}

table#jet td{
    padding: 20px;
}

table#nyu {
	padding-left: 100px;
    padding-right: 100px;
}

table#nyu td{
    padding: 20px;
}

table#bu {
	padding-left: 100px;
    padding-right: 100px;
}

table#bu td{
    padding: 20px;
}


.img-circle {
    border-radius: 50%;
}

div#jetblock:hover {
    background-color: #f9f9f9;
}
div#nyublock:hover {
    background-color: #f9f9f9;
}
div#bublock:hover {
    background-color: #f9f9f9;
}
