h1#title {
	padding-left: 120px;
    padding-right: 100px;
}

table#nyu {
	padding-left: 100px;
    padding-right: 100px;
}

table#nyu td{
    padding: 20px;
}

table#bu {
	padding-left: 100px;
    padding-right: 100px;
}

table#bu td{
    padding: 20px;
}

table#name {
	padding-left: 100px;
    padding-right: 100px;
}

table#name td{
    padding: 20px;
}

.img-circle {
    border-radius: 50%;
}

div#nyublock:hover {
    background-color: #f9f9f9;
}
div#bublock:hover {
    background-color: #f9f9f9;
}