body {
    font-family: "Arial", "Verdana", "Times New Roman";
    font-size: 18px;
    line-height: 26px;
}
p {
    font-family: "Arial", "Verdana", "Times New Roman";
    font-size: 18px;
    line-height: 26px;
}

