body {
    font-family: "Arial", "Verdana", "Times New Roman";
    font-size: 18px;
    line-height: 26px;
}
p {
    font-family: "Arial", "Verdana", "Times New Roman";
    font-size: 18px;
    line-height: 26px;
}

p#intro {
	padding-left: 120px;
	padding-right: 100px;
}

h1#title {
	padding-left: 120px;
	padding-right: 100px;
}

div#wikigeo {
	padding-left: 100px;
	padding-right: 100px;
}

div#wikigeo p {
	color: #A4A4A4;
	font-weight: 1;
	font-family: "Arial";
}

div#wikigeo:hover {
    background-color: #f9f9f9;
}