body {
    font-family: "Arial", "Verdana", "Times New Roman";
    font-size: 18px;
    line-height: 26px;
}
p {
    font-family: "Arial", "Verdana", "Times New Roman";
    font-size: 18px;
    line-height: 26px;
}

p#intro {
	padding-left: 120px;
	padding-right: 100px;
}

h1#title {
	padding-left: 120px;
	padding-right: 100px;
}

div#wikigeo {
	padding-left: 100px;
	padding-right: 100px;
}

div#wikigeo p {
	color: #A4A4A4;
	font-weight: 1;
	font-family: "Arial";
}

div#wikigeo_content p, h2, h3{
	padding-left: 100px;
	padding-right: 100px;
}

div#wikigeo:hover {
    background-color: #f9f9f9;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #00BFFF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
	background-color: #2E9AFE;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}