<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
			    <li><a href="/"><font face="Arial" size="6" color="black"><i><b>Shang-Hung Tsai    </b></i></font></a></li>
				<li><a href="/about"><font size="5">About</font></a></li>
				<li><a href="/blog"><font size="5">Blog</font></a></li>
				<li><a href="/project"><font size="5">Project</font></a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
			    <li><a href="https://github.com/shtsai7"><img src="/images/github-icon.png" alt="github icon" style="height:30px; width:30px"></a></li>
			    <li><a href="https://www.linkedin.com/in/shanghungtsai/"><img src="/images/linkedin-icon.png" alt="linkedin icon" style="height:30px; width:30px"></a></li>

				</ul>
			</footer>
		</body>
	</html>
